[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ImmuneSigR"]
	path = ImmuneSigR
	url = https://github.com/yingyanlaing/immunesigr
